html, body {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
}


.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1000;
	background-color: yellow;
	color: red;
	font-family: Tahoma;
	font-weight: bold;
	padding: 5px;
	text-align: right;
	display: inline-block;
	direction: rtl;
}

#map {
	height: 100%;
	width: 100%;
}

.mapContainer {
	height: 100%;
}

select, input {display: inline-block;}